


header {
    background: url(./images/Image\ \(2\).png);
    height: 100vh;
    background-color: #2F1893;
    ;
}

.sunday {
     background-color: white;
     color: #482BE7;

}

.obu {
    background-color: white;
    color: #482BE7;
    
}.Hero-section h1 {
    font-size: 50px;
 }
    

.frank {
    background-color: transparent;
    color: white;
    
}


    

